<div class="container" style="margin-top: 70px;">
    <h1>Schedule Dashboard</h1>
    <p>Here is the dashboard where you will find your Personal trainer's Schedule</p>
    <table class="schedule-table">
      <thead>
        <tr>
          <th>Time</th>
          <th *ngFor="let day of weekdays">{{ day }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeSlot of scheduleDataKeys()">
          <td>{{ timeSlot }}</td>
          <td *ngFor="let day of weekdays">
            <ng-container *ngIf="scheduleData[timeSlot][day.toLowerCase()]">
                <ng-container *ngIf="scheduleData[timeSlot][day.toLowerCase()]?.status === 'placeholder' && (accountService.currentUser$ | async) as user">
                <button (click)="bookSlot(timeSlot, day)"class="btn btn-success  me-2">Book</button>
              </ng-container>
              <ng-container *ngIf="scheduleData[timeSlot][day.toLowerCase()].status === 'booked'">
                {{ scheduleData[timeSlot][day.toLowerCase()].booked }}
                <p>Unavailable</p>
              </ng-container>
              <ng-container *ngIf="scheduleData[timeSlot][day.toLowerCase()].status === 'name' && (accountService.currentUser$ | async) as user">
                {{ scheduleData[timeSlot][day.toLowerCase()].name }}
                <p>Your Booking!</p>
              </ng-container>
              <ng-container *ngIf="scheduleData[timeSlot][day.toLowerCase()].status === 'name' && (staffAccountService.currentUser$ | async) as user">
                {{ scheduleData[timeSlot][day.toLowerCase()]?.status }}
                Client
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  